keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    normal {
        bind "p" { SwitchToMode "pane"; }
        bind "t" { SwitchToMode "tab"; }
        bind "d" { Detach; }
        bind "e" { EditScrollback; SwitchToMode "locked"; }
    }
    pane {
        bind "x" { CloseFocus; }
        bind "h" { MoveFocus "left"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "l" { MoveFocus "right"; }
        bind "H" "Left" { MovePane "Left"; }
        bind "J" "Down" { MovePane "Down"; }
        bind "K" "Up" { MovePane "Up"; }
        bind "L" "Right" { MovePane "Right"; }
    }
    tab {
        bind "x" { CloseTab; }
        bind "h" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "H" { MoveTab "Left"; }
        bind "L" { MoveTab "Right"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    }
    renametab {
        bind "Ctrl [" { UndoRenameTab; SwitchToMode "Tab"; }
        bind "enter" { SwitchToMode "Tab"; }
    }
    shared_except "locked" "renametab" {
        bind "Ctrl [" { SwitchToMode "locked"; }
    }
    shared_except "renametab" {
        bind "Alt p" { NewPane; }
        bind "Alt h" { MoveFocus "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocus "right"; }

        bind "Ctrl T" { NewTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
}

show_startup_tips false
default_mode "locked"
default_layout "compact"
